<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>FB Designer Emporium</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="../../assets/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="../../assets/modules/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="../../assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/components.css">
    <link rel="stylesheet" href="~/App-Assests/CSS/Custom.css">
    <link rel="stylesheet" href="~/App-Assests/CSS/Icons.css">

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');</script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="javascript:void(0)" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="@Session["UserImage"].ToString()" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, @Session["Name"].ToString()</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="@Url.Action("UserProfile", "Account")" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="@Url.Action("ChangePassword", "Account")" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item has-icon text-danger LogOut">
                                <i class="fas fa-sign-out-alt LogOut"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            @if (Session["IsAdmin"].ToString() == "1")
            {
                <div class="main-sidebar sidebar-style-2">
                    <aside id="sidebar-wrapper">
                        <div class="sidebar-brand">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB Designer Emporium</a>
                        </div>
                        <div class="sidebar-brand sidebar-brand-sm">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB</a>
                        </div>
                        <ul class="sidebar-menu">
                            <li class="menu-header text-info">DashBoard</li>
                            <li><a class="nav-link" href="@Url.Action("Dashboard", "Dashboard")" id="DashboardPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Dashboard.png" class="img-circle ImageAsIcon" /></i> <span>DashBoard</span></a></li>

                            <li class="menu-header text-info">User Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddUser", "User")" id="AddUserPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddUser.png" class="img-circle ImageAsIcon" /></i> <span>Add User</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("viewAllUser", "User")" id="ViewUserPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewAllUsers.png" class="img-circle ImageAsIcon" /></i> <span>All Users</span></a></li>

                            <li class="menu-header text-info">Shop Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddShop", "Shop")" id="AddShopPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddShop.png" class="img-circle ImageAsIcon" /></i> <span>Add Shop</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("ViewAllShops", "Shop")" id="ViewShopPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewAllShops.png" class="img-circle ImageAsIcon" /></i> <span>All Shops</span></a></li>

                            <li class="menu-header text-info">Order Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddOrder", "Order")" id="AddOrderPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddOrder.png" class="img-circle ImageAsIcon" /></i> <span>Add Order</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("ViewOrders", "Order")" id="ViewOrderPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewOrders.png" class="img-circle ImageAsIcon" /></i> <span>View Orders</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("OrdersManagement", "Order")" id="ManageOrderPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/OrdersManagement.png" class="img-circle ImageAsIcon" /></i> <span>Orders Management</span></a></li>

                            <li class="menu-header text-info">Sliders</li>
                            <li><a class="nav-link" href="@Url.Action("AddImage", "Slider")" id="AddImagePage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddPhoto.png" class="img-circle ImageAsIcon" /></i> <span>Add Photos</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("Gallery", "Slider")" id="GalleryPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Gallery.png" class="img-circle ImageAsIcon" /></i> <span>Gallery</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("SliderSettings", "Slider")" id="SliderPage"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/SlideManagement.png" class="img-circle ImageAsIcon" /></i> <span>Slider Management</span></a></li>
                        </ul>
                    </aside>
                </div>
            }
            else if (Session["IsAdmin"].ToString() == "2")
            {
                <div class="main-sidebar sidebar-style-2">
                    <aside id="sidebar-wrapper">
                        <div class="sidebar-brand">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB Designer Emporium</a>
                        </div>
                        <div class="sidebar-brand sidebar-brand-sm">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB</a>
                        </div>
                        <ul class="sidebar-menu">
                            <li class="menu-header text-info">DashBoard</li>
                            <li><a class="nav-link" href="@Url.Action("Dashboard", "Dashboard")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Dashboard.png" class="img-circle ImageAsIcon" /></i> <span>DashBoard</span></a></li>
                            <li class="menu-header text-info">Order Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddOrder", "Order")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddOrder.png" class="img-circle ImageAsIcon" /></i> <span>Add Order</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("ViewOrders", "Order")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewOrders.png" class="img-circle ImageAsIcon" /></i> <span>View Orders</span></a></li>

                            <li class="menu-header text-info">Sliders</li>
                            <li><a class="nav-link" href="@Url.Action("AddImage", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddPhoto.png" class="img-circle ImageAsIcon" /></i> <span>Add Photos</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("Gallery", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Gallery.png" class="img-circle ImageAsIcon" /></i> <span>Gallery</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("SliderSettings", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/SlideManagement.png" class="img-circle ImageAsIcon" /></i> <span>Slider Management</span></a></li>
                        </ul>
                    </aside>
                </div>
            }
            else
            {
                <div class="main-sidebar sidebar-style-2">
                    <aside id="sidebar-wrapper">
                        <div class="sidebar-brand">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB Designer Emporium</a>
                        </div>
                        <div class="sidebar-brand sidebar-brand-sm">
                            <a href="@Url.Action("Dashboard", "Dashboard")">FB</a>
                        </div>
                        <ul class="sidebar-menu">
                            <li class="menu-header text-info">DashBoard</li>
                            <li><a class="nav-link" href="@Url.Action("Dashboard", "Dashboard")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Dashboard.png" class="img-circle ImageAsIcon" /></i> <span>DashBoard</span></a></li>

                            @*<li class="menu-header text-info">User Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddUser", "User")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddUser.png" class="img-circle ImageAsIcon" /></i> <span>Add User</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("viewAllUser", "User")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewAllUsers.png" class="img-circle ImageAsIcon" /></i> <span>All Users</span></a></li>

                            <li class="menu-header text-info">Shop Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddShop", "Shop")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddShop.png" class="img-circle ImageAsIcon" /></i> <span>Add Shop</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("ViewAllShops", "Shop")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewAllShops.png" class="img-circle ImageAsIcon" /></i> <span>All Shops</span></a></li>*@

                            <li class="menu-header text-info">Order Management</li>
                            <li><a class="nav-link" href="@Url.Action("AddOrder", "Order")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddOrder.png" class="img-circle ImageAsIcon" /></i> <span>Add Order</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("ViewOrders", "Order")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/ViewOrders.png" class="img-circle ImageAsIcon" /></i> <span>View Orders</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("OrdersManagement", "Order")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/OrdersManagement.png" class="img-circle ImageAsIcon" /></i> <span>Orders Management</span></a></li>

                            <li class="menu-header text-info">Sliders</li>
                            <li><a class="nav-link" href="@Url.Action("AddImage", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/AddPhoto.png" class="img-circle ImageAsIcon" /></i> <span>Add Photos</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("Gallery", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/Gallery.png" class="img-circle ImageAsIcon" /></i> <span>Gallery</span></a></li>
                            <li><a class="nav-link" href="@Url.Action("SliderSettings", "Slider")"><i class="DashBoardIcon"><img src="/ImageStorage/Icons/SlideManagement.png" class="img-circle ImageAsIcon" /></i> <span>Slider Management</span></a></li>
                        </ul>
                    </aside>
                </div>
            }
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>

            @*<footer class="main-footer">
            <div class="footer-left">
                Divakar Jayagopi
            </div>
            <div class="footer-right">
                Divakar Jayagopi
            </div>
        </footer>*@
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="../../assets/modules/jquery.min.js"></script>
    <script src="../../assets/modules/popper.js"></script>
    <script src="../../assets/modules/tooltip.js"></script>
    <script src="../../assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/modules/moment.min.js"></script>
    <script src="../../assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="../../assets/modules/jquery.sparkline.min.js"></script>
    <script src="../../assets/modules/chart.min.js"></script>
    <script src="../../assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="../../assets/modules/summernote/summernote-bs4.js"></script>
    <script src="../../assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- JS Libraies -->
    <script src="../../assets/modules/sweetalert/sweetalert.min.js"></script>
    @*<script src="../../assets/js/page/index.js"></script>*@

    <!-- Template JS File -->
    <script src="../../assets/js/scripts.js"></script>
    <script src="../../assets/js/custom.js"></script>
    <script src="~/App-Assests/Js/Custom.js"></script>

    <script>
        $(document).ready(function () {
            var URL = window.location.pathname;
            switch (URL) {
                case "/Dashboard/Dashboard":
                    $("#DashboardPage").parent().addClass("active");
                    break;
                case "/User/AddUser":
                    $("#AddUserPage").parent().addClass("active");
                    break;
                case "/User/viewAllUser":
                    $("#ViewUserPage").parent().addClass("active");
                    break;
                case "/Shop/AddShop":
                    $("#AddShopPage").parent().addClass("active");
                    break;
                case "/Shop/ViewAllShops":
                    $("#ViewShopPage").parent().addClass("active");
                    break;
                case "/Order/AddOrder":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#AddOrderPage").parent().addClass("active");
                    break;
                case "/Order/ViewOrders":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#ViewOrderPage").parent().addClass("active");
                    break;
                case "/Order/OrdersManagement":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#ManageOrderPage").parent().addClass("active");
                    break;
                case "/Slider/AddImage":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#AddImagePage").parent().addClass("active");
                    break;
                case "/Slider/Gallery":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#GalleryPage").parent().addClass("active");
                    break;
                case "/Slider/SliderSettings":
                    $('.main-sidebar.sidebar-style-2').scrollTop(200);
                    $("#SliderPage").parent().addClass("active");
                    break;
            }
        });

        $(".LogOut").click(function () {
            handleAjaxRequest(null, true, "/Method/LogOut", null, "CallBackLogOut");
        });

        function CallBackLogOut(responseData) {
            if (responseData.message.status == "success") {
                window.location.href = "@Url.Action("Login", "Account")";
            }
        }

    </script>
</body>
</html>