
@{
    ViewBag.Title = "ViewAllShops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- CSS Libraries -->
<link rel="stylesheet" href="../../assets/modules/chocolat/dist/css/chocolat.css">
<!-- CSS Libraries -->
<link rel="stylesheet" href="../../assets/modules/izitoast/css/iziToast.min.css">
<style>
    .ShopList {
        border-radius: 20px;
    }

    .ShopManagerImage {
        height: 30px;
        width: 30px;
        border-radius: 100px;
    }

    .selectgroup-input:focus + .selectgroup-button, .selectgroup-input:checked + .selectgroup-button.active {
        background-color: #62f923;
    }

    .selectgroup-input:focus + .selectgroup-button, .selectgroup-input:checked + .selectgroup-button.inactive {
        background-color: #f34e00;
    }

    .CustomPointer, .RemoveUserFromShop {
        cursor: pointer;
    }
    ol li{
        padding:10px;
    }
</style>
<section class="section">
    <div class="section-header">
        <h1>All Shops</h1>
        @*<a href="@Url.Action("AddShop", "Shop")" style="float:right;" class="btn btn-info">Add New Shop</a>*@
    </div>
    <div class="section-body">
        <div class="row AllShopsList">
            @if (Model.Count <= 0)
            {
                <div class="col-md-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h4>No Shops Found !</h4>
                        </div>
                        <div class="card-body" style="text-align:center;">
                            <p>Add Shops to see the list here.. <i><b><a href="@Url.Action("AddShop", "Shop")">Add Shop</a></b></i></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4 ">
                        <div class="card-body">
                            <div data-id="@item.Id" class="card @item.Status ShopList ShopListCardStatus">
                                <div class="card-header">
                                    <h4><span class="ShopName" data-id="@item.Id">@item.Name</span></h4>
                                    <div class="card-header-action">
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-id="@item.Id" class="ShopEdit"><i class="fas fa-edit"></i></a>
                                            <a href="javascript:void(0)" data-id="@item.Id" data-shopName="@item.Name" class="DeleteShop"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="ShopImage">
                                        <div class="chocolat-parent">
                                            <a href="@item.Image" data-id="@item.Id" class="chocolat-image ShopImageExpand" title="Just an example">
                                                <div>
                                                    <img alt="image" src="@item.Image" data-id="@item.Id" class="img-fluid ShopImageExpand">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <b>Area : <span data-id="@item.Id" class="ShopArea">@item.ShopArea</span></b><br />
                                        <b>Mobile : <span data-id="@item.Id" class="ShopMobileNumber">@item.MobileNumber</span></b><br />
                                        <b>Orders : <span data-id="@item.Id" class="MaxOrderCountForShop">@item.TodaysOderCount / @item.MaxOrderCount</span></b><br />
                                        <span class="row" style="padding-left:14px;">
                                            <b>
                                                Managers : <a href="javascript:void(0)" data-id="@item.Id" class="GetShopManagersList">View</a>
                                                @*@if (item.UserInfo != null && item.UserInfo.Id != null)
                                                {
                                                    <span class="chocolat-parent">
                                                        <a href="@item.UserInfo.Image" data-id="@item.Id" class="chocolat-image ShopManagerImageExpand" title="Just an example">
                                                            <span>
                                                                <img alt="image" src="@item.UserInfo.Image" data-id="@item.Id" class="img-fluid ShopManagerImage">
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <a href="javascript:void(0);" class="ShopManagerName" data-shopId="@item.Id" data-id="@item.UserInfo.Id">@item.UserInfo.Name</a>
                                                }
                                                else
                                                {
                                                    <span href="javascript:void(0)" class="text-warning"><i><b>No UserInfo Info Found !</b></i></span>
                                                }*@

                                            </b>&nbsp;

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="EditShop">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Shop - <strong class="text-info SelectedShopNameModelTitle"></strong> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ShopEditForm">
                    <input type="hidden" class="SelectedShopId" />
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control SelectedShopName">
                    </div>
                    <div class="form-group">
                        <label>Area</label>
                        <div class="input-group">
                            <input type="text" class="form-control SelectedShopArea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="number" class="form-control SelectedShopMobileNumber">
                    </div>
                    <div class="form-group">
                        <label>Maximum Orders</label> <small>\per day</small>
                        <input type="number" class="form-control SelectedMaxOrderCountForShop">
                    </div>
                    <div class="form-group">
                        <label>Choose User</label>
                        <select class="form-control select2 SelectedShopManager">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control invoice-input SelectedShopImage" id="ShopImage" style="padding:.375rem .75rem;">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div class="form-group">
                            <div class="selectgroup w-100">
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="active" class="selectgroup-input SelectedShopStatus" checked="">
                                    <span class="selectgroup-button active">Active</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="inactive" class="selectgroup-input SelectedShopStatus">
                                    <span class="selectgroup-button inactive">Inactive</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control SelectedShopNotes"></textarea>
                    </div>
                    <span class="text-danger customErrorMessageAddShop"></span>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary UpdateShopFromSubmit">Update changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ViewOwnerInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="ShopOwnerName">UserName</span> - Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ShopManagersList">
                    <ol>

                    </ol>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="../../assets/modules/jquery.min.js"></script>
<!-- JS Libraies -->
<script src="../../assets/modules/izitoast/js/iziToast.min.js"></script>
<!-- JS Libraies -->
<script src="../../assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

<script src="~/App-Assests/Js/Shop.js"></script>