@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../assets/modules/chocolat/dist/css/chocolat.css">

<section class="section">
    <div class="section-header">
        <h1>Gallery</h1>
        <div class="section-header-breadcrumb">
            @*<a href="@Url.Action("AddImage", "Slider")" class="btn btn-info">Add Image</a>*@
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Gallery</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-success">High Quality</p>
                                <div class="gallery">
                                    @if (Model.HighQualityImage.Count <= 0)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-warning">
                                                <div class="card-header">
                                                    <h4>No Images Found !</h4>
                                                </div>
                                                <div class="card-body" style="text-align:center;">
                                                    <p>Add New Images to see the list here.. <i><b><a href="@Url.Action("AddImage", "Slider")">Add Image</a></b></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.HighQualityImage)
                                        {
                                            <div class="gallery-item" data-image="@item.Image" data-title="@item.Id"></div>
                                        }
                                    }
                                </div>
                                <p class="text-warning">Medium Quality</p>
                                <div class="gallery">
                                    @if (Model.LowQualityImage.Count <= 0)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-warning">
                                                <div class="card-header">
                                                    <h4>No Images Found !</h4>
                                                </div>
                                                <div class="card-body" style="text-align:center;">
                                                    <p>Add New Images to see the list here.. <i><b><a href="@Url.Action("AddImage", "Slider")">Add Image</a></b></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.LowQualityImage)
                                        {
                                            <div class="gallery-item" data-image="@item.Image" data-title="@item.Id"></div>
                                        }
                                    }
                                </div>
                                <p class="text-danger">Low Quality</p>
                                <div class="gallery">
                                    @if (Model.MediumQualityImage.Count <= 0)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-warning">
                                                <div class="card-header">
                                                    <h4>No Images Found !</h4>
                                                </div>
                                                <div class="card-body" style="text-align:center;">
                                                    <p>Add New Images to see the list here.. <i><b><a href="@Url.Action("AddImage", "Slider")">Add Image</a></b></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.MediumQualityImage)
                                        {
                                            <div class="gallery-item" data-image="@item.Image" data-title="@item.Id"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- General JS Scripts -->
<script src="../../assets/modules/jquery.min.js"></script>
<!-- JS Libraies -->
<script src="../../assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
